.overlay {
  background-color: rgba(0, 0, 0, 0.459);
  margin: 0;
  padding: 0;
}

main {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 2rem;
  font-family: "Montserrat Alternates", sans-serif;
  color: rgb(230, 221, 238);
  z-index: 99;
}

header,
h3,
p {
  padding: 3rem 0.9rem 0;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}
